<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
        <title>Template</title>
        <link rel="stylesheet" href="assets/css/common.css">
    </head>
    <body>

        <button class="btn" data-popup="popup1">popup</button>

        <div class="popup-wr" id="popup1">
            <div class="popup-overlay"></div>
            <div class="popup">
                <div class="close"><img class="inject-me" src="assets/img/icon-close.svg"></div>
                <div class="popup-inner">
                    <div class="title">Title</div>
                    <div class="btn" data-close>Close</div>
                </div>
            </div>
        </div>

        <script src="assets/js/libs/jquery.js"></script>
        <script src="node_modules/svg-injector/svg-injector.js"></script>
        <script src="assets/js/common.js"></script>
    </body>
</html>